*
!workflow
!workflow/*
!workflow/report/*
!workflow/envs/*
!workflow/scripts/*
!workflow/rules/*
!workflow/rules/annotation/*
!workflow/resources/*
!config/*.example
!data/entrez_to_symbol.tsv.gz
!LICENSE
!README.md
!CHANGELOG.md
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.test/**/*
!.github/**/main.yml
.DS_Store
*~
.*.sw?
